* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Lato', helvetica, sans-serif;
}

#title {
	text-align: center;
	color: darkred;
}

#descriptor {
	margin-bottom: 1em;
}

.text {
	padding: 3em;
	max-width: 970px;
	margin: 0 auto;
}

input {
	display: inline-block;
	padding: .6em;
	text-align: center;
	font-size: 100%;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
}

#user-location {
	text-align: center;
}

.error-message, h4, #source {
	text-align: center;
}

#location-input {
	width: 30vw;
	min-width: 350px;
}

@media only screen and (max-width: 768px) {
  #map{
  	height: 400px; 
  	width: 100%; 
  	display: block;
  }
  #location-input {
		width: 15vw;
		height: 9vw;
		margin-bottom: 1.2em;
		margin-right: 1em;
	}

	#button {
		width: 20vw;
		height: 10vh;
	}
}

@media only screen and (max-width: 480px) {
	#map {
	  	height: 300px;
	  }

	#location-input {
		width: 15vw;
		height: 15vw;
		margin-bottom: 1.2em;
		margin-right: 1em;
	}

	#button {
		width: 60vw;
		height: 10vh;
		font-size: 1em;
	}
}