* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Lato', helvetica, sans-serif;
    background-color: #ffe;
}

#title {
    text-align: center;
    color: darkred;
    font-size: 4em;
}

.page-header {
    text-align: center;
}

#descriptor {
    margin: 1.3em;
    font-size: 2em; 
    color: #525252;
}

input {
    display: inline-block;
    padding: .6em;
    text-align: center;
    font-size: 100%;
}

small {
    display: block;
    color: #7f7f7f;
}

#map {
    height: 70%;
    width: 100%;
    position: absolute;
}

#user-location {
    text-align: center;
}

.error-message, h4, #source {
    text-align: center;
}

#default { font-size: 1.3em; }

#location-input {
    width: 30vw;
    min-width: 350px;
}

.leaflet-popup-content {
    font-family: 'Lato', helvetica, sans-serif;
    font-size: 1.3em;
}

.menu {
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
  #map{
    margin-top: 3em;
    height: 50%; 
    width: 100%;
  }
    
  #title {
    font-size: 6em;
    margin: 0 1em 0.5em 1em;
  }

  #descriptor {
    font-size: 3em;
    margin: 0 1em 0.5em 1em;
  }

  #location-input {
        width: 60vw;
        height: 9vh;
        margin-bottom: 1.2em;
        font-size: 1.5em;
    }

    #button {
        width: 60vw;
        height: 10vh;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    #map {
        height: 50%;
      }
    #title {
        font-size: 4.1em;
        margin: 0 1em 0.5em 1em;
    }

    #descriptor {
        font-size: 2.4em;
        margin: 0 1em 0.5em 1em;
    }

    #location-input {
        width: 20vw;
        height: 15vh;
        font-size: 1.5em;
    }

    #button {
        width: 60vw;
        height: 10vh;
        font-size: 1.5em;
    }
}